@{
    ViewData["Title"] = "About Us";
    ViewData["Decsription1"] = "We believe in good moves.";
}
<div class="about-description text-center col-md-10">
    <div class="row">
        <div class="col-md-5">
            <img class=" rounded img-fluid" alt="Raised Image" src="~/MyImages/Logo44.jpg" />
        </div>
        <div class="col-md-5">
            <h5 class="description" style="    padding-top: 59px;">
                Chess-Up is a non-profit initiative designed to provide opportunities for rising chess players in gaining international exposure within the chess sport. Our platform offers online quizzes on the basics of “good moves”, insight into the sport, and chances of having a free online coaching experience with gross masters.

            </h5>
        </div>
    </div>
</div>
<div class="about-team team-1">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Mostly</h2>
            <h5 class="description">
                This is good opportunity for chess players to find good coach who will train them.
                Also a person who wants to lean chess can find trainings too.In this projects different grosmasters will be involved as a coach. The project will have sponsors who will give financial aid.
            </h5>
        </div>
    </div>
    <div class="row col-md-8" style="    margin: auto;">
        <div class="col-md-3">
            <div class="card card-profile card-plain">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img src="~/Images/Garry-Kasparov-2.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Lilit Mkrtchian
                    </h4>
                    <h6 class="category text-muted">Armenia</h6>
                    <p class="card-description">
                        Lilit Mkrtchyan (August 9, 1982, Yerevan) Armenian chess player, grandmaster, FIDE International Master, member of the Armenian women's team.
                        He is the winner of the European Team Championship as a member of the Armenian national team (Plovdiv, Bulgaria, 2003)
                        2002 In Bulgaria և 2009 ․ He is a silver medalist of the European Championship in St. Petersburg.
                        2006 He is a bronze medalist of the 7th European Women's Individual Championship.
                        He is a four-time champion of Armenia.
                        2009 ․ was the 10th among the ten best athletes in Armenia.
                        2013 ․ Bronze medalist of the European Women's Individual Championship.
                        2014 ․ He won the title of German champion as a member of "Bad Kոնիnigshofen" club.
                        In the 2015 World Team Championship, he won an individual gold medal on the 2nd board. (China, Chengdu).
                        2016 He is a bronze medalist of the Russian Club Championship as a member of the "Yugra" team.
                        Lilit Mkrtchyan's ELO coefficient is 2401.
                        He is married to German businessman Johannes Speer and lives in Germany.
                    </p>
                </div>
                <div class="card-footer justify-content-center">
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/lilit.mkrtchian.9" class="btn btn-just-icon btn-link btn-facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-profile card-plain">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="~/Images/01-21-1967_Artashes_Minasyan.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Artashes Minasyan
                    </h4>
                    <h6 class="category text-muted">Armenia</h6>
                    <p class="card-description">
                        Artashes Minasyan was born in 1967. In Yerevan: 1990 He became the champion of the USSR Young Masters Championship. 1991 In Moscow, he won the Soviet Union championship. Three chess players have achieved such a great result in the history of Armenian chess: Rafael Vahanyan, Tigran Petrosyan, Artashes Minasyan. The latter is the last champion of the USSR.
                        After the collapse of the Soviet Union, he became the champion of Armenia 5 times. He also achieved great success with the Armenian chess team. In June 2006, together with Levon Aronian, Vladimir Hakobyan, Karen Asryan, Gabriel Sargsyan and Smbat Lputyan, he became the winner of the 37th World Olympiad in Turin. For this victory, he and his teammates were awarded the Movses Khorenatsi Medal. And after winning the 38th Olympiad in Dresden, A. Minasyan was awarded the Medal for Services to the Motherland.
                        It is true that at the moment he does not participate in tournaments very often, but instead he shares his experience with young chess players, who, I am sure, will continue the work of their coach.
                    </p>
                </div>
                <div class="card-footer justify-content-center">
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble">
                        <i class="fa fa-dribbble"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-profile card-plain">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="~/Images/Mariam-copy.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Maria Ghorgyan
                    </h4>
                    <h6 class="category text-muted">Armenia</h6>
                    <p class="card-description">
                        Maria was taught to play chess by her grandfather, sports journalist Derenik Ghorgyan. At the age of 3, he already knew all the pieces and knew their steps. From the age of 7 he started attending a chess sports school, then an academy. He was a student of Vahan Khachatryan and Arsen Yeghiazaryan. He is currently training at Erebuni Chess School with GM Hrayr Simonyan. In 2014-2015 she was the vice-champion of women's chess in Armenia. In 2016, he scored 8.5 points out of 9 at the 71st Armenian Women's Chess Championship and became a champion, at the same time joining the Armenian women's chess team. In 2017, he retained the title, winning the 72nd championship.
                        In the "Gazi-Heraklion 2016" tournament in 2016, she won a gold cup in the women's group.
                        2017 "Sharjah Open" shared the 3-5th places in the international women's tournament.
                        In the same tournament, the "ARMEST" team, which included Maria, took the first place in the blitz chess tournament.
                        Maria Gorgian's ELO coefficient in 2017 As of December, it is 2275.
                        He likes to spend his free time with friends.
                    </p>
                </div>
                <div class="card-footer justify-content-center">
                    <a href="#https://twitter.com/GevorgyanMaria" class="btn btn-just-icon btn-link btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/chessmaria" class="btn btn-just-icon btn-link btn-facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/maria___gevorgyan/" class="btn btn-just-icon btn-link btn-dribbble" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-profile card-plain">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="~/Images/aronyan.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Levon Aronian
                    </h4>
                    <h6 class="category text-muted">Armenia</h6>
                    <p class="card-description">
                        Leon Aronian (born October 6, 1982 in Yerevan), Armenian chess player, international grandmaster.
                        Winner of the 2005 World Cup, the 37th, 38th and 40th World Olympiads as a member of the Armenian national team. Winner of the World Team Championship, multiple super tournaments, FIDE Grand Prix, Bilbao Grand Slam winner, 2009 World Rapid Chess Champion, 2006-2007 Fischer World Chess Champion, 2010 World blitz Chess Champion, 2002 the champion of Armenia. In 2011 in Monaco he participated in the "blind" and fast chess "Amber" traditional tournament and became its last winner (the tournament will not be held again). For two years in a row, in 2005 and 2006, he was named the best athlete in Armenia by a survey of sports journalists. As of August 1, 2013, he is the second highest ranked chess player in the world (2813).
                        Awards and prizes
                        Awards Movses Khorenatsi Medal (2006)
                        Order of St. Mesrop Mashtots (2012).In 2017, Leon Aronian won almost all the tournaments: the St. Louis Rapid Lightning Chess Tournament, the Grenke Chase, the Norwegian Chase and the World Cup.
                    </p>
                </div>
                <div class="card-footer justify-content-center">
                    <a href="https://twitter.com/LevAronian" class="btn btn-just-icon btn-link btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/LevAronian/" class="btn btn-just-icon btn-link btn-facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/levonaronian/" class="btn btn-just-icon btn-link btn-dribbble" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-services features-2">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Why did we create this page</h2>
            <h5 class="description">As we know it is very expensive to have private lessons with grosmasters, so we will have financial aid for those users who have successes in chess to have private trainings. For instance a person who will in fifth place in Armenian chess cup, he/she can use website to find a grosmaster who will train him/her and have financial support.</h5>
        </div>
    </div>
</div>
<div class="about-office">
    <div class="row text-center">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Our Page members</h2>
            <h4 class="description">Here are some pictures from our chess players.</h4>
        </div>
    </div>
    <div class="row col-md-8" style="    margin: auto;">
        <div class="col-md-4">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/Images/plateeer4.jpg" />
        </div>
        <div class="col-md-4">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/Images/playeeer1.jpg" />
        </div>
        <div class="col-md-4">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/Images/playeer5.jpg" />
        </div>
        <div class="col-md-6">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/Images/playeeer2.webp" />
        </div>
        <div class="col-md-6">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/Images/playeeer4.jpg" />
        </div>
    </div>
</div>
<div class="col-md-8 ml-auto mr-auto">
    <h2 class="title" style="color: #be2fbe;">And also ...</h2>
    <div class="card card-plain card-blog">
        <div class="card-header card-header-image">
            <a href="#pablo">
                <img class="img img-raised" src="~/Images/thanks.jpg" />
            </a>
        </div>
    </div>
</div>
<br />