@{
    ViewData["Title"] = "Chess-up";
    ViewData["Decsription1"] = "Build your future with us... ";
    ViewData["Decsription2"] = "We believe in good moves.";
    ViewData["Decsription"] = "If life is a game be the winner";
}
<div class="section section-text">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">

            <div class="section col-md-10 ml-auto mr-auto">

                <div class="row">

                    <div class="col-md-4">
                        <img class=" rounded img-fluid" alt="Raised Image" src="~/MyImages/Logo22.jpg" />
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid" alt="Raised Image" src="~/MyImages/myLogo.png">
                    </div>
                    <div class="col-md-4">
                        <img class="rounded img-fluid" alt="Raised Image" src="~/MyImages/Logo33.jpg">
                    </div>
                </div>
            </div>

            <div class="col-md-10 ml-auto mr-auto">
                <h3 class="title" style="text-align:center">What is Chess?</h3>
                <p>
                    Chess is a game played by two players, who we'll call White and Black. It is played on a board of 64 squares. Each square can be empty or occupied by a piece.
                    The initial position of the game consists of 16 white pieces and 16 black pieces, arranged as shown in the following diagram.
                </p>
                <p>
                    Players alternate making moves. White always goes first. In a typical move, White selects a white piece and moves it to another square. The destination square is either empty or occupied by an enemy piece. In the latter case the enemy piece is said to be captured.
                    The captured piece is removed from the board, and plays no further role in the game.
                </p>
                <p>
                    Looking across the bottom row of white pieces we see a rook (sometimes called a castle), a knight, a bishop, a queen, a king, another bishop, another knight, and another rook. The next row of white pieces consists of eight pawns.
                    Each different type of piece moves in a specific way, as described in detail in the rest of this tutorial.
                </p>
                <p>
                    The goal of the game is to capture the opponent's king. However to actually capture the king would be offensive. So this is not allowed. This leads to the notion of check. Black's king is said to be in check if (assuming it were White's turn to move) White could capture Black's king.
                    To avoid this capture, Black must make a move that takes Black's king out of check, so White cannot capture Black's king on the next move.
                </p>
                <p>
                    If it's impossible for Black to get out of check, then Black's king is said to be checkmated, and White wins the game. Another way to describe checkmate is to say that Black is in check and Black has no legal moves.
                    An alternative outcome is if Black is NOT in check but has no legal moves. This is called a stalemate. When this occurs the game ends in a draw.
                </p>
            </div><br />
            <div class="col-md-10" style="padding-left: 134px;">
                <div class="blockquote undefined ">
                    <p>
                        &#x201C;It would be wrong to say that my life is in Armenia or in Europe. My life is chess.&#x201D;
                    </p>
                    <small>
                        Levon Aronyan
                    </small>
                </div>
            </div>
            <h3 class="title" style="text-align:center">The History of Chess – How Did It All Begin? </h3>
            <div class="row" style="padding-left: 134px;">
                <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">mode_edit</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title"></h4>
                            <p>
                                The history of chess can be traced back around 1500 years;started in the North of India and then spread throughout the Asian continent.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">gesture</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title"></h4>
                            <p>Chess made its way via the expanding Islamic Arabian empire to Europe.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">mode_edit</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title"></h4>
                            <p>
                                The rules of chess changed numerous times until the 1880’s (the romantic era of chess).
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-left: 134px;">
                <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">gesture</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title"></h4>
                            <p>
                                The first official World Chess Championship was hosted in 1886.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">mode_edit</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title"></h4>
                            <p>The 20th century revolutionized chess with the invention of databases and chess engines.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 ml-auto mr-auto">
                <h3 class="title" style="text-align:center">Who Invented Chess?</h3>
                <p>
                    The history of chess goes back many years, decades and even centuries! But who really invented the game we all love? What was the origin of this famous mental exercise many millions of people play?
                    Chess is known the world over, played by numerous fans, but its roots and origins are not clear and are highly debatable. There are a variety of legends, stories, and plain guesses, starting from a dispute over where it came from and ending with when chess began.
                    However, most people can agree that there was not just one individual who invented the established game because it is far too complex with all its rules and concepts for any single simple human mind to have created.
                    Until Wilhelm Steinitz became the first official World Chess Champion in 1886, the game of chess was in a steady flux.It was a game we could well have difficulty recognizing when we think about today’s chess: from a game dominated by intuitive decision - making, to a fight between chess engines.
                    So, in the following article, we will explore the different roots of the game of chess and teach you the history of chess in a nutshell.
                </p>
            </div>

            <div class="features-1">
                <div class="row col-md-12">
                    <div class="col-md-6" style="margin: 0px; padding-left: 0px;">
                        <div class="phone-container">
                            <img style="margin-left: 143px;" src="~/MyImages/ChessHistory.PNG" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons" style="font-size: 10.9rem;">extension</i>
                            </div>
                            <div class="description" style="margin-top: -25px;">
                                <h4 class="info-title">A History of Chess</h4>
                                <p>
                                    One ancient legend that many children might even find in their maths books is about the tyrannical Indian king, Shahram, and a wise man in his kingdom. The wise man wanted to convince Shihram of the importance of each resident of his kingdom.

                                    So, he invented a game to represent the kingdom consisting of the king himself, his queen, rooks, bishops, knights, and pawns, all of which were important.

                                    The king liked the game very much and understood that the game was just like real life. So, he ordered everybody in his kingdom to play chess! Shahram offered the man all the gold and silver that he wanted, but the wise man didn’t want any treasure.

                                    Together with the king, he went to a chessboard and asked him to put one grain of wheat on the first square, two on the second and to keep doubling it until the chessboard was full.

                                    First of all, the king felt highly offended, but then he ordered his servants to fulfill the man’s wish. Desperately, the servants conveyed that such an enormous amount of wheat did not exist!

                                    The king understood that the wise man had given him a second lesson. Just like the pawns in chess, you should never underestimate the small things in life!

                                    This is one of the most popular legends about the history of chess. But for sure, there are many more…
                                    Until the end of the 15th century, chess changed numerous times, survived sanctions by the Christian Church as well as complete prohibitions from time to time.

                                    Right up until the 1880’s, the game developed into the shape of the modern chess game.  This period is known as “the romantic era of chess”.
                                    The first chess tournaments started to take place and even the first official World Championship was hosted in 1886 where Wilhelm Steinitz became the first official World Chess Champion.

                                    Until the middle of the 20th century, there were tendencies towards romantic chess play, when players relied on tactics and extremely dynamic play. However, the 20th century revolutionized chess with the invention of databases, chess engines and several methods for comfortable and efficient strategical preparations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 ml-auto mr-auto">
                <h3 class="title">10 Facts About Chess,That Most People Don’t Know</h3>
                <div class="row">
                    <div class="col-md-4">
                        <img class=" rounded img-fluid" alt="Raised Image" src="~/MyImages/Logo11.jpg" />
                    </div>
                    <div class="col-md-6">
                        <p><strong>1.</strong> The number of possible unique chess games is much greater than the number of electrons in the universe. The number of electrons is estimated to be about 10^79, while the number of unique chess games is 10^120.</p>
                        <p><strong>2.</strong>The longest chess game theoretically possible is 5,949 moves.</p>
                        <p><strong>3.</strong>The longest time for a Castling move to take place was the match game between Bobotsor vs. Irkov in 1966: 46. 0-0.</p>
                        <p><strong>4.</strong>As late as 1561, Castling was two moves. You had to play R-KB1 on one move and K-KN1 on the next move.</p>
                        <p><strong>5.</strong>The word “Checkmate” in Chess comes from the Persian phrase “Shah Mat,” which means “the King is dead.”</p>
                        <p><strong>6.</strong>Blathy, Otto (1860-1939), credited for creating the longest Chess Problem, mate in 290 moves.</p>
                        <p><strong>7.</strong>The number of possibilities of a <strong>Knight’s tour</strong> is over 122 million.</p>
                        <p><strong>8.</strong> From the starting position, there are eight different ways to Mate in two moves and 355 different ways to Mate in three moves.</p>
                        <p><strong>9.</strong>In 1985, the Soviet player Garry Kasparov became the youngest World Chess Champion ever at the age of 22 years and 210 days.</p>
                        <p><strong>10.</strong>In 1985, Eric Knoppert played 500 games of 10-minute Chess in 68 hours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
